<%= form_for @cambio_edad, html: { class: "form-inline"} do |c| %>
  <% if @cambio_edad.errors.any? %>
    <div class="alert alert-error">
    <h3>
      Se encontró <%= pluralize(@cambio_edad.errors.count, "error") %> 
       al tratar de guardar el registro:</h3>

      <ul>
        <% @cambio_edad.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered table-striped">
    <tr>
      <th>Fecha</th>
      <th>Detalle</th>
      <th style="width: 80px"></th>
    </tr>
    
    <% @cambio_edades.each do |cambio_edad| %>
    <tr>
      <td><%= cambio_edad.fecha %></td>
      <td><%= cambio_edad.detalle %></td>
      <td>
        <%= link_to "Eliminar", cambio_edad, :confirm => "¿Eliminar este registro?", 
            :method => "delete", :class => "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
    <% if @cambio_edades.empty? %>
    <tr>
      <td colspan="2" class="a-center">No hay cambios de edades</td>
    </tr>
    <% end %>
  </table>
  <br>
  <br>

  <div class="field-inline">
    <%= c.label :detalle %>:
    <%= c.text_field :detalle %>
  </div>
  <br>

  <div class="form-actions">
    <%= c.submit "Generar Cambio de Edades", :class => "btn btn-primary" %>
  </div>
<% end %>