<%= form_for(@empleado, :remote => @remote, :html => {:id => "create_empleado_form", :class => "form-horizontal"}) do |f| %>
  <%= render "shared/form_errors", record: @empleado %>

  <div class="control-group">
    <%= f.label "Nombre Empleado", :class => "control-label" %>
    <div class="controls"><%= f.text_field :nombre %></div>
  </div>

  <div class="form-actions">
    <%= f.submit @empleado.new_record? ? "Crear" : "Guardar", :class => "btn btn-primary" %>
    <% if not @empleado.new_record? %>
      <%= link_to "Eliminar", @empleado, 
          :confirm => "¿Eliminar este Empleado?", 
          :method => "delete", :class => "btn btn-danger" %>
    <% end %>

    <% if not @remote %>
      <%= link_to 'Volver', empleados_path, :class => "btn" %>
    <% end %>
  </div>
<% end %>
