<%= form_for(@movimientos_tipo, :html => {:class => "form-horizontal small"}) do |f| %>
  <% if @movimientos_tipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimientos_tipo.errors.count, "error") %> prohibited this movimientos_tipo from being saved:</h2>

      <ul>
      <% @movimientos_tipo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :tipo, :class => "control-label" %>
    <div class="controls">
      <%= f.select(:tipo, tipos_opts) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :nombre, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :nombre %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit @movimientos_tipo.new_record? ? "Crear" : "Guardar", :class => "btn btn-primary" %>
    <% if not @movimientos_tipo.new_record? %>
      <%= link_to "Eliminar", @movimientos_tipo, 
          :confirm => "¿Eliminar este Tipo de Movimiento?", 
          :method => "delete", :class => "btn btn-danger" %>
    <% end %>
    <%= link_to 'Volver', movimientos_tipos_path, :class => "btn" %>
  </div>

  <% end %>
