<%= form_for(@movimientos_tipo) do |f| %>
  <% if @movimientos_tipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimientos_tipo.errors.count, "error") %> prohibited this movimientos_tipo from being saved:</h2>

      <ul>
      <% @movimientos_tipo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
