<%= form_for(@movimientos_tipo, :html => {:class => "form-horizontal small"}) do |f| %>
  <%= render "shared/form_errors", record: @movimientos_tipo %>

  <div class="control-group">
    <%= f.label :tipo, :class => "control-label" %>
    <div class="controls">
      <%= f.select(:tipo, tipos_opts) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :nombre, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :nombre %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit @movimientos_tipo.new_record? ? "Crear" : "Guardar", :class => "btn btn-primary" %>
    <% if not @movimientos_tipo.new_record? %>
      <%= link_to "Eliminar", @movimientos_tipo, 
          :confirm => "¿Eliminar este Tipo de Movimiento?", 
          :method => "delete", :class => "btn btn-danger" %>
    <% end %>
    <%= link_to 'Volver', movimientos_tipos_path, :class => "btn" %>
  </div>

  <% end %>
