<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <b>Nombre:</b>
  <%= @movimientos_tipo.nombre %>
</p>
<br>

<p>
  <b>Tipo:</b>
  <%= tipo( @movimientos_tipo.tipo ) %>
</p>


<br>
<br>
<%= link_to 'Editar', edit_movimientos_tipo_path(@movimientos_tipo), :class => "btn btn-primary" %>
<%= link_to 'Volver', movimientos_tipos_path, :class => "btn" %>
