<%= form_for(@movimiento) do |m| %>
  <% if @movimiento.errors.any? %>
    <div id="error_explanation">
    <h2>
      Se encontró <%= pluralize(@movimiento.errors.count, "error") %> 
       al tratar de guardar el movimiento:</h2>

      <ul>
        <% @movimiento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="type" value="<%= @type %>" />

  <script type='text/javascript' charset="utf-8">
    var predios = <%= raw get_predios.to_json %>;
    var ganado = <%= raw get_all_ganado.to_json %>;
    var ganado_unmes = <%= raw get_ganado_un_mes.to_json %>;
    var TIPO = "<%= @type %>";
    </script>

    <div class="field-inline">
      <%= m.label :fecha %>:
      <%= select_tag(:fecha, options_for_select(get_days, day), :style=>"width: 60px;") %><spam id="gestion">-<%= month %>-<%= year %></spam>
    </div>
    <div class="field-inline">
      <%= m.label :detalle %>:
      <%= m.text_field :detalle %>
    </div>

    <br /><br />
    <% if @type == "mov" %>
      <div class="field-inline">
        <%= m.label "Desde:" %>
        <%= m.select :predio_id, @predios %>
      </div>
      <div class="field-inline">
        <%= m.label "Hasta:" %>
        <%= m.select :predio_sec_id, @predios %>
        <%= m.hidden_field :movimientos_tipo_id, {:value=>"1"} %>
      </div>
    <% else %>
      <div class="field-inline">
        <%= m.label "Razón:" %>
        <%= m.select :movimientos_tipo_id, get_movimientos %>
      </div>
    <% end %>


    <div id="movimientos">
      <% m.fields_for :movimiento_ganados do |g| %>
        <%= render fields_form(@type), :f => g, :no_select => false %>
      <% end %>
      <div><%= link_to_add_fields("Mas", m, :movimiento_ganados, fields_form(@type) ) %><div style="clear: both"></div></div>
    </div>
    
    <div class="actions">
      <% if @type == "mov" %>
        <%= m.submit "Crear Movimiento" %>
      <% else -%>
        <%= m.submit "Crear Ingreso/Egreso" %>
      <% end -%>
    </div> 

  <% end %>
