<%= form_for(@movimiento, :html => { :class => "form-inline"}) do |m| %>
  <% if @movimiento.errors.any? %>
    <div class="alert alert-error">
    <h3>
      Se encontró <%= pluralize(@movimiento.errors.count, "error") %> 
       al tratar de guardar el registro:</h3>

      <ul>
        <% @movimiento.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" name="type" value="<%= @type %>" />
  <input type="hidden" name="anio" value="<%= year(@movimiento) %>" />
  <input type="hidden" name="mes" value="<%= month(@movimiento) %>" />

  <script type='text/javascript' charset="utf-8">
    var predios = <%= raw get_predios.to_json %>;
    var ganado = <%= raw get_all_ganado.to_json %>;
    var ganado_unmes = <%= raw get_ganado_un_mes.to_json %>;
    var TIPO = "<%= @type %>";
    </script>

    <div class="field-inline">
      <%= m.label "Fecha" %>:
      <%= select_tag(:dia, options_for_select(get_days, @movimiento.new_record? ? day : @movimiento.day), :style=>"width: 60px;") %><spam id="gestion">-<%= month(@movimiento) %>-<%= year(@movimiento) %></spam>
    </div>
    <div class="field-inline">
      <%= m.label :detalle %>:
      <%= m.text_field :detalle %>
    </div>

    <br /><br />
    <% if @type == "mov" %>
      <div class="field-inline">
        <%= m.label "Desde:" %>
        <%= m.select :predio_id, @predios %>
      </div>
      <div class="field-inline">
        <%= m.label "Hasta:" %>
        <%= m.select :predio_sec_id, @predios %>
        <%= m.hidden_field :movimientos_tipo_id, {:value=>"1"} %>
      </div>
    <% elsif @type == "in_eg" %>
      <div class="field-inline">
        <%= m.label "Predio:" %>
        <%= m.select :predio_id, @predios %>
      </div>
      <div class="field-inline">
        <%= m.label "Razón:" %>
        <%= m.select :movimientos_tipo_id, get_movimientos %>
      </div>
    <% elsif @type == "rec" %>
      <div class="field-inline">
        <%= m.label "Predio:" %>
        <%= m.select :predio_id, @predios %>
         <%= m.hidden_field :movimientos_tipo_id, {:value=>"9"} %>
      </div>
    <% end %>

    <br>
    <br>
    <div class="field-inline">
      <%= m.label "Encargado" %>:
      <%= m.select :empleado_id, get_empleados, :style=>"width: 150px;" %>
      <a id="add_empleado" class="btn" href="#addEmpleadoModal" role="button" data-toggle="modal" title="Nuevo Empleado"><i class="icon-plus-sign"></i></a>
    </div>


    <div id="movimientos">
      <table class="table table-bordered">
        <tr>
          <th>Categ. de Ganado</th>
          <% if @type == "mov" %>
          <th>Despach.</th>
          <th>Reciv.</th>
          <th></th>
          <% elsif @type == "in_eg" %>
          <th>Cant.</th>
          <th></th>
          <% elsif @type == "rec" %>
          <th>Cant.</th>
          <% end %>
          
        </tr>

        <%= m.fields_for :movimiento_ganados, @movimiento.movimiento_ganados.order('id') do |g| %>
          <%= render fields_form(@type), :f => g, :no_select => false %>
        <% end %>
        <tr>
          <td colspan="<%= @type == "mov" ? "3" : (@type == "in_eg" ? "2" : "1") %>"></td>
          <td style="text-align: center">
            <%= link_to_add_fields("Mas", m, :movimiento_ganados, fields_form(@type) ) %>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="form-actions">
      <%= m.submit @movimiento.new_record? ? "Crear "+Movimiento.type_name(@type) : 
        "Guardar", :class => "btn btn-primary" %>
      
      <% if !@movimiento.new_record? %>
        <%= link_to "Eliminar", @movimiento, :confirm => "¿Eliminar este movimiento?", 
          :method => "delete", :class => "btn btn-danger" %>
      <% end %>
      <%= link_to "Volver", movimientos_path, :class => "btn" %>
    </div>

  <% end %>

<!-- Modal -->
<div class="modal" id="addEmpleadoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nuevo Empleado</h3>
  </div>
  <div class="modal-body">
    
  </div>
</div>