<% content_for :title, "Listado de Movimientos" %>
<% @br = [Movimiento.type_name(@type), "Listado"] %>

<%= form_tag("list", :method => "GET", :class => "form-inline") do %>
	<label for="filtro_gestion">Gestión:</label>
	<%= select_tag(:filtro_gestion, options_for_gestiones(@gestion.id), :style => "width:100px") %>
	&nbsp;&nbsp;

	<label for="filtro_predio">Predio:</label>
	<%= select_tag(:filtro_predio, options_for_predios(@filtro_predio, true), :style => "width:150px") %>
	&nbsp;&nbsp;

	<label for="filtro_predio">Mostrar:</label>
	<%= select_tag(:filtro_extra, options_for_ganado_extra(@filtro_extra), :style => "width:150px") %>

	<input type="submit" value="Filtrar" class="btn">
<% end %>

<table class="table table-bordered table-striped">
	<tr>
		<th>Razón</th>
		<% if @type == "mov" %>
			<th>Desde</th>
			<th>Hasta</th>
		<% else%>
			<th>Predio</th>
		<% end%>
		<th>Fecha</th>
		<th>Detalle</th>
		<th></th>
		<th></th>
	</tr>
	
	<% @movs.each do |mov| %>
	<tr>
		<td><%= mov.razon %></td>
		<td><%= mov.predio_nombre%></td>
		<% if @type == "mov" %>
			<td><%= mov.predio_sec_nombre%></td>
		<% end%>
		<td><%= mov.fecha%></td>
		<td><%= mov.detalle%></td>
		<td class="a-center"><%= link_to "Ver", mov%></td>
		<td class="a-center"><%= link_to "Editar", edit_movimiento_path(mov)%></td>
	</tr>
	<% end %>

</table>