<p>
	<b>Fecha:</b>
	<%= @movimiento.fecha %>
</p>

<p>
	<b>Detalle:</b>
	<%= @movimiento.detalle %>
</p>

<% if @movimiento.type_str == "mov" %>
<p>
	<b>Desde:</b>
	<%= @movimiento.predio.nombre %>
</p>

<p>
	<b>Hasta:</b>
	<%= @movimiento.predio_sec.nombre %>
</p>
<% else %>
<p>
	<b>Predio:</b>
	<%= @movimiento.predio.nombre %>
</p>

<p>
	<b>Razon:</b>
	<%= @movimiento.movimientos_tipo.nombre %>
</p>
<% end %>



<%= render @movimiento.type_str == "mov" ? "lista_movimiento_ganado" : "lista_ingreso_egreso_ganado", :ganados => @movimiento.movimiento_ganados %>

<%= link_to "Editar", edit_movimiento_path(@movimiento), :class => "btn" %> <%= link_to "Volver", movimientos_mix_path(@movimiento), :class => "btn" %>