<p>
  <b>Fecha:</b>
  <%= @movimiento.fecha %>
</p>

<p>
  <b>Detalle:</b>
  <%= @movimiento.detalle %>
</p>

<p>
  <b>Predio:</b>
  <%= @movimiento.predio.nombre %>
</p>

<p>
  <b>Razon:</b>
  <%= @movimiento.movimientos_tipo.nombre %>
</p>

<%= render "lista_ingreso_egreso_ganado", :ganados => @movimiento.movimiento_ganados %>