<div class="field-inline">
  <%= m.label "Fecha" %>:
  <%= select_tag(:dia, options_for_select(get_days, @movimiento.new_record? ? day : @movimiento.day), :style=>"width: 60px;") %><spam id="gestion">-<%= month %>-<%= year %></spam>
</div>
<div class="field-inline">
  <%= m.label :detalle %>:
  <%= m.text_field :detalle %>
</div>

<br /><br />

<div class="field-inline">
<%= m.label "Predio:" %>
<%= m.select :predio_id, @predios %>
</div>
<div class="field-inline">
<%= m.label "Razón:" %>
<%= m.select :movimientos_tipo_id, get_movimientos %>
</div>
