<%= form_for(@gestion) do |f| %>
  <%= render "shared/form_errors", record: @gestion %>

  <div class="field">
    <%= f.label :anio %><br />
    <%= f.text_field :anio %>
  </div>
  <div class="field">
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
