<%= stylesheet_link_tag "inv_mensual_reporte" %>
<% @br = ["Reportes", "Inventario General"] %>

<dl class="dl-horizontal">
  <dt>Total animales:</dt>
  <dd><%= @inventario.cant %></dd>

  <dt>Menores de año:</dt>
  <dd><%= @inventario.cant_men_a %></dd>

  <dt>Mayores al año:</dt>
  <dd><%= @inventario.cant_may_a %></dd>
</dl>
<br>

<table class="table table-bordered" id="tabla-inv-mensual">
  <tr class="row-ggrupos">
    <% GanadoGrupo.all.each do |gg| %>
    <th colspan="<%= gg.ganados.length %>"><%= gg.nombre %></th>
    <% end %>
  </tr>

  <tr class="row-ganado">
    <% Ganado.all.each do |g| %>
    <th><%= g.nombre %></th>
    <% end %>
  </tr>

  <tr class="row-mov">
    <% @inventario.inventario_ganados.each do |inv_ganado| %>
    <td><%= inv_ganado.cant %></td>
    <% end %>
  </tr>
</table>