<style>
	.row-ggrupos th {
		text-align: center;
		font-weight: bold;
	}

	.row-ganado th {
		text-align: center;
	}

	.row-saldo-ant td {
		text-align: right;
	}

	.row-mov td {
		text-align: right;
	}

	.table th {
		background-color: #F4F4F4 !important;
		color: black !important;

	}

	.table {
		font-size: 0.9em;
	}

	.row-saldo td {
		background-color: #F4F4F4 !important;
		color: black !important;
		text-align: right;
		font-weight: bold;

	}
</style>

<table class="table table-bordered" id="tabla-inv-mensual">
	<tr class="row-ggrupos">
		<th colspan="2"></th>
		<% @g_grupos.each do |gg| %>
			<th colspan="<%= gg.ganados.length %>"><%= gg.nombre %></th>
		<% end %>
		<th rowspan="2">Total<br />Menor<br />de Año</th>
		<th rowspan="2">Total<br />Mayor<br />de Año</th>
		<th rowspan="2">Total<br />Animal.</th>
	</tr>

	<tr class="row-ganado">
		<th colspan="2"></th>
		<% @ganados.each do |g| %>
			<th><%= g.nombre %></th>
		<% end %>
	</tr>

	<tr class="row-saldo">
		<th colspan="2">Saldo Inicial</th>
		<% @ganados.each do |g| %>
			<td><%= g.cant_inicial(@predio, @info_recuento) %></td>
		<% end %>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @m_tipos_ing.each do |i| %>
		<tr class="row-mov">
			<th colspan="2"><%= i.nombre %></th>
			<% @ganados.each do |g| %>
				<td><%= t = g.cant_ing_egr(@predio, @info_recuento, i.id) %></td>
			<% end %>
		<td><%= Movimiento.cant_ing_egr(@predio, @info_recuento, i.id, @menor_anio)%></td>
		<td><%= Movimiento.cant_ing_egr(@predio, @info_recuento, i.id, @mayor_anio)%></td>
		<td><%= Movimiento.cant_ing_egr(@predio, @info_recuento, i.id, @todos)%></td>
		</tr>
	<% end %>


	<% @mov_ingresos.each do |m| %>
		<tr class="row-mov">
			<th colspan="2">De <%= m.predio.nombre %></th>
			<% @ganados.each do |g| %>
				<td><%= m.movimiento_ganados.where("ganado_id=?", g.id).any? ? 
						m.movimiento_ganados.where("ganado_id=?", g.id).first.cant_sec : 0 
					%>
				</td>
			<% end %>
		<td></td>
		<td></td>
		<td></td>
		</tr>
	<% end %>

	<tr class="row-saldo">
		<th colspan="2">Saldo Parcial</th>
		<% @ganados.each do |g| %>
			<td><%= g.saldo_parcial_ingresos(@predio, @info_recuento) %></td>
		<% end %>
		<td></td>
		<td></td>
		<td></td>
	</tr>

	<% @m_tipos_egr.each do |e| %>
		<tr class="row-mov">
			<th colspan="2"><%= e.nombre %></th>
			<% @ganados.each do |g| %>
				<td><%= g.cant_ing_egr(@predio, @info_recuento, e.id) %></td>
			<% end %>
		<td><%= Movimiento.cant_ing_egr(@predio, @info_recuento, e.id, @menor_anio)%></td>
		<td><%= Movimiento.cant_ing_egr(@predio, @info_recuento, e.id, @mayor_anio)%></td>
		<td><%= Movimiento.cant_ing_egr(@predio, @info_recuento, e.id, @todos)%></td>
		</tr>
	<% end %>

	<% @mov_egresos.each do |m| %>
		<tr class="row-mov">
			<th colspan="2">A <%= m.predio_sec.nombre %></th>
			<% @ganados.each do |g| %>
				<td><%= m.movimiento_ganados.where("ganado_id=?", g.id).any? ? 
						m.movimiento_ganados.where("ganado_id=?", g.id).first.cant : 0 
					%>
				</td>
			<% end %>
		<td></td>
		<td></td>
		<td></td>
		</tr>
	<% end %>
	
	<tr class="row-saldo">
		<th colspan="2">Saldo del Mes</th>
		<% @ganados.each do |g| %>
			<td><%= g.saldo_mes(@predio, @info_recuento) %></td>
		<% end %>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>