<%= stylesheet_link_tag "inv_mensual_reporte" %>

<%= form_tag("inventario_mensual", :method => "GET", :class => "form-inline") do %>
	<label for="gestion">Gestión:</label>
	<%= select_tag(:filtro_gestion, options_for_gestiones(@gestion_id)) %>
	&nbsp;
	&nbsp;

	<label for="gestion">Predio:</label>
	<%= select_tag(:filtro_predio, options_for_predios(@predio)) %>

	<input type="submit" value="Filtrar" class="btn">
<% end %>
<br />

<% if @predio != '' %>

	<table class="table table-bordered" id="tabla-inv-mensual">
		<tr class="row-ggrupos">
			<th colspan="2"></th>
			<% @g_grupos.each do |gg| %>
				<th colspan="<%= gg.ganados.length %>"><%= gg.nombre %></th>
			<% end %>
			<th rowspan="2">Total<br />Menor<br />de Año</th>
			<th rowspan="2">Total<br />Mayor<br />de Año</th>
			<th rowspan="2">Total<br />Animal.</th>
		</tr>

		<tr class="row-ganado">
			<th colspan="2"></th>
			<% @ganados.each do |g| %>
				<th><%= g.nombre %></th>
			<% end %>
		</tr>

		<tr class="row-saldo">
			<th colspan="2">Saldo Inicial</th>
			<% @presenter.saldo_mes_ant(@predio) do |saldo| %>
				<td><%= saldo %></td>
			<% end %>
		</tr>

		<% @m_tipos_ing.each do |i| %>
			<tr class="row-mov">
				<th colspan="2"><%= i.nombre %></th>
				<% @presenter.cant_in_eg(@predio, i.id) do |saldo|  %>
					<td><%= saldo %></td>
				<% end %>
			</tr>
		<% end %>


		<% @mov_ingresos.each do |m| %>
			<tr class="row-mov">
				<th colspan="2">De <%= m.predio.nombre %></th>
				<% @ganados.each do |g| %>
					<% mov_gan = m.movimiento_ganados.where("ganado_id=?", g.id) %>
					<td class="<%= perdidas_class(mov_gan) %>" 
						  data-content="<%= perdidas_dcontent(mov_gan) %>"
						  onclick="<%= perdidas_link(mov_gan) %>">
						<%= mov_gan.any? ? mov_gan.first.cant_sec : 0 %>
					</td>
					<!-- <td><%= m.total_por_ganado(g.id, true) %> -->
					</td>
				<% end %>
			<td><%= m.total_por_ganado(@ganado_menor_anio, true) %></td>
			<td><%= m.total_por_ganado(@ganado_mayor_anio, true) %></td>
			<td><%= m.total_por_ganado(@ganado_todos, true) %></td>
			</tr>
		<% end %>

		<tr class="row-saldo">
			<th colspan="2">Saldo Parcial</th>
			<% @presenter.saldo_parcial_ingresos(@predio) do |saldo| %>
				<td><%= saldo %></td>
			<% end %>
		</tr>

		<% @m_tipos_egr.each do |e| %>
			<tr class="row-mov">
				<th colspan="2"><%= e.nombre %></th>
				<% @presenter.cant_in_eg(@predio, e.id) do |saldo|  %>
					<td><%= saldo %></td>
				<% end %>
			</tr>
		<% end %>

		<% @mov_egresos.each do |m| %>
			<tr class="row-mov">
				<th colspan="2">A <%= m.predio_sec.nombre %></th>
				<% @ganados.each do |g| %>
					<% mov_gan = m.movimiento_ganados.where("ganado_id=?", g.id) %>
					<td class="<%= perdidas_class(mov_gan) %>"
						  data-content="<%= perdidas_dcontent(mov_gan) %>"
						  onclick="<%= perdidas_link(mov_gan) %>">
						<span><%= mov_gan.any? ? mov_gan.first.cant : 0 %></span>
					</td>
				<% end %>
			<td><%= m.total_por_ganado(@ganado_menor_anio, false) %></td>
			<td><%= m.total_por_ganado(@ganado_mayor_anio, false) %></td>
			<td><%= m.total_por_ganado(@ganado_todos, false) %></td>
			</tr>
		<% end %>
		
		<tr class="row-saldo">
			<th colspan="2">Saldo del Mes</th>
			<% @presenter.saldo_mes(@predio) do |saldo| %>
				<td><%= saldo %></td>
			<% end %>
		</tr>
	</table>

<% end %>