<%= stylesheet_link_tag "inv_mensual_reporte" %>

<%= form_tag("inventario_mensual", :method => "GET", :class => "form-inline") do %>
<label for="gestion">Gestión:</label>
<%= select_tag(:filtro_gestion, options_for_gestiones(@gestion_id)) %>
&nbsp;
&nbsp;

<label for="gestion">Predio:</label>
<%= select_tag(:filtro_predio, options_for_predios(@predio)) %>

<input type="submit" value="Filtrar" class="btn">
<% end %>
<br />

<% if @predio != '' %>

<table class="table table-bordered" id="tabla-inv-mensual">
	<!-- Cabeceras con grupos de ganado -->
	<tr class="row-ggrupos">
		<th colspan="2"></th>
		<% @g_grupos.each do |gg| %>
		<th colspan="<%= gg.ganados.length %>"><%= gg.nombre %></th>
		<% end %>
		<th rowspan="2">Total<br />Menor<br />de Año</th>
		<th rowspan="2">Total<br />Mayor<br />de Año</th>
		<th rowspan="2">Total<br />Animal.</th>
	</tr>

	<!-- Cabecera con nombre del ganados -->
	<tr class="row-ganado">
		<th colspan="2"></th>
		<% @ganados.each do |g| %>
		<th><%= g.nombre %></th>
		<% end %>
	</tr>

	<!-- Saldo Inicial -->
	<tr class="row-saldo">
		<th colspan="2">Saldo Inicial</th>
		<% @ip_ganados.each do |ip_ganado| %>
		<td><%= ip_ganado.saldo_inicial %></td>
		<% end %>
		<th><%= @inv_predio.saldo_i_men_a %></th>
		<th><%= @inv_predio.saldo_i_may_a %></th>
		<th><%= @inv_predio.saldo_i %></th>
	</tr>

	<!-- Ingresos -->
	<% @inv_predio.inventario_predio_ingr_egrs.ingresos.each do |i| %>
	<tr class="row-mov">
		<th colspan="2"><%= i.movimientos_tipo.nombre %></th>
		<% i.inventario_predio_ingr_egr_ganados.each do |ip_ganado|  %>
		<td><%= ip_ganado.cant %></td>
		<% end %>
		<th><%= i.cant_men_a %></th>
		<th><%= i.cant_may_a %></th>
		<th><%= i.cant %></th>
	</tr>
	<% end %>

	<!-- Movimientos de entrada al predio -->
	<% @inv_predio.inventario_predio_movs.ingresos.each do |i| %>
	<tr class="row-mov">
		<th colspan="2">De: <%= i.predio_sec.nombre %></th>
		<% i.inventario_predio_mov_ganados.each do |ip_ganado|  %>
		<td <%= popover(ip_ganado, @gestion_id, @inv_predio.predio_id) %>>
			<span><%= ip_ganado.cant %></span>
		</td>
		<% end %>
		<th><%= i.cant_men_a %></th>
		<th><%= i.cant_may_a %></th>
		<th><%= i.cant %></th>
	</tr>
	<% end %>

	<!-- Saldo Parcial Ingresos -->
	<tr class="row-saldo">
		<th colspan="2">Saldo Parcial</th>
		<% @ip_ganados.each do |ip_ganado| %>
		<td><%= ip_ganado.saldo_parcial %></td>
		<% end %>
		<th><%= @inv_predio.saldo_p_men_a %></th>
		<th><%= @inv_predio.saldo_p_may_a %></th>
		<th><%= @inv_predio.saldo_p %></th>
	</tr>

	<!-- Egresos -->
	<% @inv_predio.inventario_predio_ingr_egrs.egresos.each do |e| %>
	<tr class="row-mov">
		<th colspan="2"><%= e.movimientos_tipo.nombre %></th>
		<% e.inventario_predio_ingr_egr_ganados.each do |ip_ganado|  %>
		<td><%= ip_ganado.cant %></td>
		<% end %>
		<th><%= e.cant_men_a %></th>
		<th><%= e.cant_may_a %></th>
		<th><%= e.cant %></th>
	</tr>
	<% end %>

	<!-- Movimientos de salidas del predio -->
	<% @inv_predio.inventario_predio_movs.egresos.each do |e| %>
	<tr class="row-mov">
		<th colspan="2">A: <%= e.predio_sec.nombre %></th>
		<% e.inventario_predio_mov_ganados.each do |ip_ganado|  %>
		<td <%= popover(ip_ganado, @gestion_id, @inv_predio.predio_id) %>>
			<span><%= ip_ganado.cant %></span>
		</td>
		<% end %>
		<th><%= e.cant_men_a %></th>
		<th><%= e.cant_may_a %></th>
		<th><%= e.cant %></th>
	</tr>
	<% end %>

	<!-- Saldo Final -->
	<tr class="row-saldo">
		<th colspan="2">Saldo del Mes</th>
		<% @ip_ganados.each do |ip_ganado| %>
		<td><%= ip_ganado.cant %></td>
		<% end %>
		<th><%= @inv_predio.cant_men_a %></th>
		<th><%= @inv_predio.cant_may_a %></th>
		<th><%= @inv_predio.cant %></th>
	</tr>
</table>

<% end %>