<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%=h yield(:title).length > 0 ? yield(:title)+" | " : "" %>Gestión Ganadera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Ganadería HN</a>

          <div class="btn-group pull-right">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i> <%= current_user.nombre%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="menu1">
              <li><a href="/logout">Salir</a></li>
            </ul>
          </div>

          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Inventario</a></li>
              <li><a href="#">Proveedores</a></li>
            </ul>
          </div><!--/.nav-collapse -->

          <ul class="nav">
            <li>
              <a href="#" id="hide-menu">
                <i class="icon-minus-sign icon-white"></i> <span>Esconder Menú</span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <%= render "shared/side_menu" %>
        </div><!--/span-->
        <div class="span9">
          <ul class="breadcrumb">
            <% if @br == nil %>
              <li>
                <a href="#">Inicio</a>
              </li>
            <% else %>
              <% @br.each_with_index do |b, i| %>
                <li><a href='#'><%= b %></a></li> 
                <% unless i+1 >= @br.size %><span class='divider'>/</span> <% end %>
              <% end %>
            <% end %>
          </ul>
          <%= render "shared/messages", flash: flash %>
          <div id='content'>
            <%= yield %>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Anferth 2012</p>
      </footer>

    </div><!--/.fluid-container-->
  </body>
</html>
