<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%=h yield(:title).length > 0 ? yield(:title)+" | " : "" %>Gestión Ganadera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Ganadería HN</a>

          <div class="btn-group pull-right">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i> <%= current_user.nombre%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="menu1">
              <li><a href="/logout">Salir</a></li>
            </ul>
          </div>

          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Inventario</a></li>
              <li><a href="#">Proveedores</a></li>
            </ul>
          </div><!--/.nav-collapse -->

          <ul class="nav">
            <li>
              <a href="#" id="hide-menu">
                <i class="icon-minus-sign icon-white"></i> <span>Esconder Menú</span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li <%= nav_sel("home") %>><a href="/"><i style="margin-top: 3px;" class="icon-home"></i> Inicio</a></li>
              <li class="nav-header">Acciones</li>
              <li <%= nav_sel("in_eg_new") %>><a href="/ingreso-egreso/new">Crear Ingreso/Egreso</a></li>
              <li <%= nav_sel("mov_new") %>><a href="/movimiento/new">Crear Movimiento</a></li>
              <li <%= nav_sel("rec_new") %>><a href="/recuento/new">Crear Recuento</a></li>
              <li <%= nav_sel("descartes_new") %>><a href="/descartes/new">Descartar Ganado</a></li>
              <li <%= nav_sel("cambio_edad") %>><a href="/cambio-edades">Cambio Edad Anual</a></li>
              <li class="divider"></li>
              <li class="nav-header">Listados</li>
              <li <%= nav_sel("in_eg_list") %>><a href="/ingreso-egreso/list">Ingresos/Egresos</a></li>
              <li <%= nav_sel("mov_list") %>><a href="/movimiento/list">Movimientos</a></li>
              <li <%= nav_sel("rec_list") %>><a href="/recuento/list">Recuentos</a></li>
              <li <%= nav_sel("mov_tipos_list") %>><a href="/movimientos_tipos">Tipos de Movimientos</a></li>
              <li <%= nav_sel("descartes_list") %>><a href="/descartes">Descartes</a></li>
              <li <%= nav_sel("empleados_list") %>><a href="/empleados">Empleados</a></li>
              <li class="nav-header">Reportes</li>
              <li <%= nav_sel("rep_inv_mensual") %>><a href="/reports/inventario_mensual">Inventario</a></li>
              <li class="nav-header">Configuración</li>
              <li <%= nav_sel("config_gestion") %>><a href="/gestions">Gestión</a></li>
              <li <%= nav_sel("config_cambio_edad") %>><a href="/configuracion/cambio-edad">Cambio Edades</a></li>
              <li <%= nav_sel("config_descartes") %>><a href="/configuracion/descartes">Descartes</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <ul class="breadcrumb">
            <% if @br == nil %>
              <li>
                <a href="#">Inicio</a>
              </li>
            <% else %>
              <% @br.each_with_index do |b, i| %>
                <li><a href='#'><%= b %></a></li> 
                <% unless i+1 >= @br.size %><span class='divider'>/</span> <% end %>
              <% end %>
            <% end %>
          </ul>
          <%= render "shared/messages", flash: flash %>
          <div id='content'>
            <%= yield %>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Anferth 2012</p>
      </footer>

    </div><!--/.fluid-container-->
  </body>
</html>
